body {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg');
}

.rockets-container ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.raketineslike {
  width: 200px;
  height: 200px;
  margin-top: 1rem;
  object-fit: cover;
}

.lele {
  display: flex;
  background-color: rgba(22, 34, 44, 0.939);
  border-radius: 10px;
  border: 2px solid  rgb(33, 76, 80);
  padding: 20px;
}

.nasloviopis {
  margin: 1rem;
}

.reserved-badge {
  background: none;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
  border: 2px solid rgb(90, 174, 157);
}

.reserv {
  background-color: rgb(33, 76, 80);
  color: white;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid rgb(90, 174, 157);
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

.cancel {
  background-color: rgb(243, 161, 10);
  border-radius: 6px;
  border: 2px solid rgb(240, 218, 117);
  padding: 7px;
  font-family: 'Orbitron', sans-serif;
  color: black;
  letter-spacing: 2px;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 1000px) {
  
  .rockets-container li {
  width: 80%;
}
.raketineslike {
  width: 300px;
  height: auto;
  margin-top: 1rem;
  object-fit: cover;
}
}
