
.links {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  color: rgb(218, 187, 33);
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
  gap: 20px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.inactive {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}

.logo img {
  height: 2rem;
  margin-right: 1rem;

}

.logo h1 {
  font-size: 2rem;
  margin: 0;
  color: rgb(14, 123, 86);
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 20px;
}

a {
  color: rgb(255, 187, 0);
}
