
.links {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: auto;
  gap: 20px;
}

.lists {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logo img {
  height: 3rem;
  margin-right: 1rem;
}

.logo h1 {
  font-size: 2rem;
  margin: 0;
}
